.menu-mobile {
  z-index: 4;
  position: fixed;
  top: 15vh;
  right: 0;
  height: 70vh;
  background-color: var(--primary-color-darker);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  transition: all 0.2s ease-in-out;
  border: 2px solid var(--faded-icon);
  border-right: none;
}
.menu-mobile .links-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-item {
  text-decoration: none;
  color: var(--honeydew);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}
.link-text {
  padding: 5px;
  transition: all 0.4s ease;
  letter-spacing: 2px;
}
.menu-item:hover {
  cursor: pointer;
}
.menu-item:hover .link-text {
  color: var(--faded-icon);
}
.logout-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.logout-icon {
  font-size: 1.7rem;
  color: var(--faded-icon);
  transition: all 0.2s ease;
}
.logout-wrapper:hover .logout-icon {
  color: var(--imperial-red);
}
